.footer {
  padding: 4rem 10rem;
  height: 218px;
  display: flex;
  gap: 5rem;
}

.footer-logo {
  display: block;
  height: 80px;
  background-size: contain;
  background-position: center;
  padding-bottom: 3rem;
}

.about-content ul {
  list-style-type: none;
}
.Language {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.Language select {
  width: 8rem;
  height: 2rem;
  border: none;
  padding: 0.5rem;
}

.Language select:hover {
  border: 1px solid black;
}
